---
layout: base

title: 'Pagina non trovata'
subtitle: 'Errore 404'

permalink: /404/
---

      <div class="article-canvas">
        <section class="article">

          <header class="head">

            <h2 class="title">{{ page.title }}</h2>
{% include motif.html motif="game_over_00" %}

            <div class="subtitle">{{ page.subtitle }}</div>

          </header>

          <div class="body typo-m">
            <p>Sono veramente spiaciuto, ma non sono riuscito a trovare quello che stavi cercando… ciononostante, ti va di dare un’occhiata a uno dei pezzi a seguire?</p>
          </div>

{% include pieces.html %}

{% include separator.html %}

        </section>
      </div>