---
layout: base

title: 'Bozze'
subtitle: 'Lavori in Corso'

permalink: '/bozze/'

description: 'L’indice delle bozze della raccolta di pezzi più o meno brevi.'
---

      <div class="article-canvas">
        <section class="article">

          <header class="head">

            <h2 class="title">{{ page.title }}</h2>
{% include motif.html motif="index_00" %}

            <div class="subtitle">{{ page.subtitle }}</div>

          </header>

{% include drafts.html %}

{% include closure.html %}

        </section>
      </div>