---
layout: base
---

      <div class="article-canvas">
        {%- assign posts = site.posts | where: 'publish', 'yes' %}
        {%- for post in site.posts limit: 1  %}
        <article class="article">

          <header class="head">

            <h2 class="title">{{ post.title }}</h2>
{% include motif.html motif=post.motif %}
{% include date.html date=post.date %}

          </header>

          <div class="body typo-m">

{{ post.content }}
          </div>

        </article>
        {%- endfor %}
      </div>

      <!--<div class="pagination">
        <a class="page-prev" href="{{ site.posts[2].url | prepend: site.baseurl }}"><strong>{{ site.posts[1].title }}</strong><br />{{ site.posts[1].description }}</a>
      </div>-->