---
layout: base
---

      <div class="article-canvas">
        {%- assign posts = site.posts | where: 'publish', 'yes' %}
        {%- for post in site.posts limit: 1  %}
        <article class="article">

          <header class="head">

            <h2 class="title">{{ post.title }}</h2>
{% include motif.html motif=post.motif %}
{% include date.html date=post.date %}

          </header>

          <div class="body typo-m">

{{ post.content }}
          </div>

{% include separator.html %}

        </article>
        {%- endfor %}

      </div>

{% include pagination.html publish=post.publish %}