---
layout: base

title: 'Indice'
subtitle: '10 Pezzi Più o Meno Brevi'

permalink: '/indice'

description: 'L’indice della raccolta di pezzi più o meno brevi.'
---

      <div class="article-canvas">
        <section class="article">

          <header class="head">

            <h2 class="title">{{ page.title }}</h2>
{% include motif.html motif="index_00" %}

            <div class="subtitle">{{ page.subtitle }}</div>

          </header>

{% include pieces.html %}

{% include separator.html %}

        </section>
      </div>