---
layout: base

title: 'Indice'
subtitle: 'Pezzi Più o Meno Brevi'

permalink: '/indice/'

description: 'L’indice della raccolta di pezzi più o meno brevi.'
---

{%- assign counter = 0 %}
{%- for post in site.posts %}
  {%- unless post.publish == 'no' %}
    {%- assign counter=counter | plus:1 %}
  {%- endunless %}
{%- endfor %}

      <div class="article-canvas">
        <section class="article">

          <header class="head">

            <h2 class="title">{{ page.title }}</h2>
{% include motif.html motif="index_00" %}

            <div class="subtitle">{{ counter }} {{ page.subtitle }}</div>

          </header>

{% include pieces.html %}

{% include closure.html %}

        </section>
      </div>
