    <script type="text/javascript">
      var time = new Date(),
          color = 'h' + time.getHours();
          body = document.getElementById('h0');

      console.log(time);
      console.log(color);
      //console.log(body);

      body.setAttribute('id', color);

      var footnote = document.getElementsByClassName('reversefootnote');

      for (i = 0; i < footnote.length; i++) {
          footnote[i].textContent = 'Torna su';
      }
    </script>
    <!--<script src="{{ "/scripts/js/main-min.js" | prepend: site.baseurl }}"></script>-->